{% extends 'base.html.twig' %}

{% block title %}Liste stagiaires{% endblock %}

{% block body %}
<h1 class="my-4">Liste des formations</h1>
<table class="table table-hover">
    <thead id="table-head">
        <tr>
            <th>Intitulé Formations</th>
            <th>Description</th>
            <th colspan="3">Sessions</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
        <tr>
            <td>{{ formation }}</td>
            <td>{{ formation.description }}</td>
            {% for session in formation.sessions %}
                <td><a href="{{ path('detail', {'id': session.id}) }}">{{ session }}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}