{% extends 'base.html.twig' %}

{% block title %}Liste stagiaires{% endblock %}

{% block body %}
    <h1>Module</h1>
    <table class="table">
        <thead id="table-head">
            <tr>
                <th>module</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{ module }}</td>
                    <td>{{ module.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
